.profileImg {
    width: 100%;
    /*height: 200px;*/
}

.profileContainer {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 20px;
    padding: 10px;
    color: #D1234D;
}

.profileContainer img {
    width: 100%;
    height: 100%;
}